.form-css{
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-name{
    font-size: 4rem;
}
.form-input-name{
    font-size: 4rem;
}
.form-submit-btn{
    font-size: 4rem;
}