.main-body{
    background-color: rgb(94, 99, 99);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 3rem
}
.main-body h1{
    color: rgb(196, 187, 187);  
    font-size: 3rem;
}

.item-list-container{
    width: auto;
    height: auto;
    background-color: rgb(39, 77, 92);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.product-card{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
.loading-txt{
    font-size: 3rem;
}
