*{
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 62.5%;
  background-color: #f5f6f7;
}

.forms-practice-hoc-customhooks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.prev-h1{
  padding: 2rem;
  font-size: 3rem;
}
.prev-p{
  padding: 3rem;
  font-size: 2rem;
}